h1{
    background-color: aqua;
}
img{
    height: 300px;
    width: auto;
}
p{
    font-size: medium;
}
h2{
    color: blue;
}
h3{
    background-color: aqua;
}
h4{
    background-color: aqua;
}
h5{
    background-color: aqua;
}
h6{
    background-color: blueviolet;
}